services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Explicitly register CustomReferenceFaker service for anonymization
    App\Service\CustomReferenceFaker:
        public: true
