# PHPStan configuration for Anonymize Bundle
# Compatible with PHP 8.1+ and Symfony 6.x / 7.x / 8.x

includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - demo/*
