services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # Alias for ContainerInterface to enable autowiring (PSR-11 standard)
    Psr\Container\ContainerInterface: '@service_container'

    Nowo\AnonymizeBundle\Faker\:
        resource: '../../Faker/*'
        exclude:
            - '../../Faker/FakerInterface.php'
            - '../../Faker/ServiceFaker.php'
            - '../../Faker/MaskingFaker.php'
            - '../../Faker/HashPreserveFaker.php'
            - '../../Faker/ShuffleFaker.php'
            - '../../Faker/ConstantFaker.php'
        arguments:
            $locale: '%nowo_anonymize.locale%'

    # Fakers that don't need locale parameter are excluded from autowiring
    # They use #[Autoconfigure(public: true)] in their classes to be public
    # Their aliases are created automatically from the #[AsAlias] attributes
    Nowo\AnonymizeBundle\Faker\MaskingFaker: ~
    Nowo\AnonymizeBundle\Faker\HashPreserveFaker: ~
    Nowo\AnonymizeBundle\Faker\ShuffleFaker: ~
    Nowo\AnonymizeBundle\Faker\ConstantFaker: ~

    # Note: All faker aliases (nowo_anonymize.faker.*) are automatically created
    # from the #[AsAlias] attributes in each faker class when autoconfigure: true

    Nowo\AnonymizeBundle\Service\:
        resource: '../../Service/*'

    # AnonymizeService with optional EventDispatcher
    Nowo\AnonymizeBundle\Service\AnonymizeService:
        arguments:
            $eventDispatcher: '@?Symfony\Contracts\EventDispatcher\EventDispatcherInterface'

    # Console Commands
    # Only configure parameters, container is autowired via alias
    Nowo\AnonymizeBundle\Command\AnonymizeCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
            $dryRun: '%nowo_anonymize.dry_run%'
            $batchSize: '%nowo_anonymize.batch_size%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\GenerateAnonymizedColumnCommand:
        arguments:
            $connections: '%nowo_anonymize.connections%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\AnonymizeInfoCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\GenerateMongoAnonymizedFieldCommand:
        tags:
            - { name: 'console.command' }
