services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # Alias for ContainerInterface to enable autowiring (PSR-11 standard)
    Psr\Container\ContainerInterface: '@service_container'

    Nowo\AnonymizeBundle\Faker\:
        resource: '../../Faker/*'
        exclude:
            - '../../Faker/FakerInterface.php'
            - '../../Faker/ServiceFaker.php'
        arguments:
            $locale: '%nowo_anonymize.locale%'

    # Aliases for fakers (defined via #[AsAlias] attribute in classes)
    # These aliases are automatically created by Symfony from the #[AsAlias] attributes
    nowo_anonymize.faker.email: '@Nowo\AnonymizeBundle\Faker\EmailFaker'
    nowo_anonymize.faker.name: '@Nowo\AnonymizeBundle\Faker\NameFaker'
    nowo_anonymize.faker.surname: '@Nowo\AnonymizeBundle\Faker\SurnameFaker'
    nowo_anonymize.faker.age: '@Nowo\AnonymizeBundle\Faker\AgeFaker'
    nowo_anonymize.faker.phone: '@Nowo\AnonymizeBundle\Faker\PhoneFaker'
    nowo_anonymize.faker.iban: '@Nowo\AnonymizeBundle\Faker\IbanFaker'
    nowo_anonymize.faker.credit_card: '@Nowo\AnonymizeBundle\Faker\CreditCardFaker'

    Nowo\AnonymizeBundle\Service\:
        resource: '../../Service/*'

    # Console Commands
    # Only configure parameters, container is autowired via alias
    Nowo\AnonymizeBundle\Command\AnonymizeCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
            $dryRun: '%nowo_anonymize.dry_run%'
            $batchSize: '%nowo_anonymize.batch_size%'
        tags:
            - { name: 'console.command' }
