services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # Alias for ContainerInterface to enable autowiring (PSR-11 standard)
    Psr\Container\ContainerInterface: '@service_container'

    Nowo\AnonymizeBundle\Faker\:
        resource: '../../Faker/*'
        exclude:
            - '../../Faker/FakerInterface.php'
            - '../../Faker/ServiceFaker.php'
        arguments:
            $locale: '%nowo_anonymize.locale%'

    # Aliases for fakers to enable direct service access
    Nowo\AnonymizeBundle\Faker\FakerInterface $emailFaker: '@Nowo\AnonymizeBundle\Faker\EmailFaker'
    Nowo\AnonymizeBundle\Faker\FakerInterface $nameFaker: '@Nowo\AnonymizeBundle\Faker\NameFaker'
    Nowo\AnonymizeBundle\Faker\FakerInterface $surnameFaker: '@Nowo\AnonymizeBundle\Faker\SurnameFaker'
    Nowo\AnonymizeBundle\Faker\FakerInterface $ageFaker: '@Nowo\AnonymizeBundle\Faker\AgeFaker'
    Nowo\AnonymizeBundle\Faker\FakerInterface $phoneFaker: '@Nowo\AnonymizeBundle\Faker\PhoneFaker'
    Nowo\AnonymizeBundle\Faker\FakerInterface $ibanFaker: '@Nowo\AnonymizeBundle\Faker\IbanFaker'
    Nowo\AnonymizeBundle\Faker\FakerInterface $creditCardFaker: '@Nowo\AnonymizeBundle\Faker\CreditCardFaker'

    Nowo\AnonymizeBundle\Service\:
        resource: '../../Service/*'

    # Console Commands
    # Only configure parameters, container is autowired via alias
    Nowo\AnonymizeBundle\Command\AnonymizeCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
            $dryRun: '%nowo_anonymize.dry_run%'
            $batchSize: '%nowo_anonymize.batch_size%'
        tags:
            - { name: 'console.command' }
