services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # Alias for ContainerInterface to enable autowiring (PSR-11 standard)
    Psr\Container\ContainerInterface: '@service_container'

    # Fakers are auto-registered via autowiring and autoconfigure
    # All fakers with locale parameter use #[Autowire('%nowo_anonymize.locale%')] attribute
    # This requires Symfony 6.1+ (minimum version requirement)
    Nowo\AnonymizeBundle\Faker\:
        resource: '../../Faker/*'
        exclude:
            - '../../Faker/FakerInterface.php'
            - '../../Faker/FakerFactory.php'
            - '../../Faker/ServiceFaker.php'
            - '../../Faker/MaskingFaker.php'
            - '../../Faker/HashPreserveFaker.php'
            - '../../Faker/ShuffleFaker.php'
            - '../../Faker/ConstantFaker.php'
            - '../../Faker/MapFaker.php'

    # Fakers that don't need locale parameter are auto-registered
    # They use #[Autoconfigure(public: true)] in their classes to be public
    # Their aliases are created automatically from the #[AsAlias] attributes
    Nowo\AnonymizeBundle\Faker\MaskingFaker: ~
    Nowo\AnonymizeBundle\Faker\HashPreserveFaker: ~
    Nowo\AnonymizeBundle\Faker\ShuffleFaker: ~
    Nowo\AnonymizeBundle\Faker\ConstantFaker: ~
    Nowo\AnonymizeBundle\Faker\MapFaker: ~

    # FakerFactory is excluded from autowiring pattern but needed by services
    # It requires locale parameter and optional ContainerInterface
    Nowo\AnonymizeBundle\Faker\FakerFactory:
        arguments:
            $locale: '%nowo_anonymize.locale%'

    # Note: All faker aliases (nowo_anonymize.faker.*) are automatically created
    # from the #[AsAlias] attributes in each faker class when autoconfigure: true

    # Services - auto-registered via autowiring
    # AnonymizeService with optional EventDispatcher
    # EventDispatcher is optional and defaults to null in the constructor
    # It will be retrieved manually in commands when needed
    Nowo\AnonymizeBundle\Service\AnonymizeService: ~

    # AnonymizationHistoryService
    Nowo\AnonymizeBundle\Service\AnonymizationHistoryService:
        arguments:
            $historyDir: '%nowo_anonymize.history_dir%'

    # DatabaseExportService - must be configured explicitly due to string/bool parameters
    Nowo\AnonymizeBundle\Service\DatabaseExportService:
        arguments:
            $outputDir: '%nowo_anonymize.export.output_dir%'
            $filenamePattern: '%nowo_anonymize.export.filename_pattern%'
            $compression: '%nowo_anonymize.export.compression%'
            $autoGitignore: '%nowo_anonymize.export.auto_gitignore%'

    # Other services that can be autowired (no special parameters needed)
    Nowo\AnonymizeBundle\Service\AnonymizeStatistics: ~
    Nowo\AnonymizeBundle\Service\EnvironmentProtectionService: ~
    Nowo\AnonymizeBundle\Service\PatternMatcher: ~
    Nowo\AnonymizeBundle\Service\PreFlightCheckService: ~
    Nowo\AnonymizeBundle\Service\SchemaService: ~

    # Console Commands
    # Only configure parameters, container is autowired via alias
    Nowo\AnonymizeBundle\Command\AnonymizeCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
            $dryRun: '%nowo_anonymize.dry_run%'
            $batchSize: '%nowo_anonymize.batch_size%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\GenerateAnonymizedColumnCommand:
        arguments:
            $connections: '%nowo_anonymize.connections%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\AnonymizeInfoCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\GenerateMongoAnonymizedFieldCommand:
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\ExportDatabaseCommand:
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\AnonymizationHistoryCommand:
        tags:
            - { name: 'console.command' }
