services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # Alias for ContainerInterface to enable autowiring (PSR-11 standard)
    Psr\Container\ContainerInterface: '@service_container'

    # Fakers with locale parameter - explicitly defined for Symfony 6.0 compatibility
    Nowo\AnonymizeBundle\Faker\AddressFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\AgeFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\BooleanFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\ColorFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\CompanyFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\CoordinateFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\CountryFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\CreditCardFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\DateFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\EmailFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\EnumFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\FileFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\HashFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\IbanFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\IpAddressFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\JsonFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\LanguageFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\MacAddressFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\NameFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\NumericFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\PasswordFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\PhoneFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\SurnameFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\TextFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\UrlFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\UsernameFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'
    Nowo\AnonymizeBundle\Faker\UuidFaker:
        arguments:
            $locale: '%nowo_anonymize.locale%'

    # Fakers that don't need locale parameter are excluded from autowiring
    # They use #[Autoconfigure(public: true)] in their classes to be public
    # Their aliases are created automatically from the #[AsAlias] attributes
    Nowo\AnonymizeBundle\Faker\MaskingFaker: ~
    Nowo\AnonymizeBundle\Faker\HashPreserveFaker: ~
    Nowo\AnonymizeBundle\Faker\ShuffleFaker: ~
    Nowo\AnonymizeBundle\Faker\ConstantFaker: ~

    # Note: All faker aliases (nowo_anonymize.faker.*) are automatically created
    # from the #[AsAlias] attributes in each faker class when autoconfigure: true

    # Services - explicitly defined to avoid autowiring issues in Symfony 6.0
    # AnonymizeService with optional EventDispatcher
    # EventDispatcher is optional and defaults to null in the constructor
    # It will be retrieved manually in commands when needed
    Nowo\AnonymizeBundle\Service\AnonymizeService: ~

    # AnonymizationHistoryService
    Nowo\AnonymizeBundle\Service\AnonymizationHistoryService:
        arguments:
            $historyDir: '%nowo_anonymize.history_dir%'

    # DatabaseExportService - must be configured explicitly due to string/bool parameters
    Nowo\AnonymizeBundle\Service\DatabaseExportService:
        arguments:
            $outputDir: '%nowo_anonymize.export.output_dir%'
            $filenamePattern: '%nowo_anonymize.export.filename_pattern%'
            $compression: '%nowo_anonymize.export.compression%'
            $autoGitignore: '%nowo_anonymize.export.auto_gitignore%'

    # Other services that can be autowired (no special parameters needed)
    Nowo\AnonymizeBundle\Service\AnonymizeStatistics: ~
    Nowo\AnonymizeBundle\Service\EnvironmentProtectionService: ~
    Nowo\AnonymizeBundle\Service\PatternMatcher: ~
    Nowo\AnonymizeBundle\Service\PreFlightCheckService: ~
    Nowo\AnonymizeBundle\Service\SchemaService: ~

    # Console Commands
    # Only configure parameters, container is autowired via alias
    Nowo\AnonymizeBundle\Command\AnonymizeCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
            $dryRun: '%nowo_anonymize.dry_run%'
            $batchSize: '%nowo_anonymize.batch_size%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\GenerateAnonymizedColumnCommand:
        arguments:
            $connections: '%nowo_anonymize.connections%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\AnonymizeInfoCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\GenerateMongoAnonymizedFieldCommand:
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\ExportDatabaseCommand:
        tags:
            - { name: 'console.command' }

    Nowo\AnonymizeBundle\Command\AnonymizationHistoryCommand:
        tags:
            - { name: 'console.command' }
