services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: true

    # Alias for ContainerInterface to enable autowiring (PSR-11 standard)
    Psr\Container\ContainerInterface: '@service_container'

    Nowo\AnonymizeBundle\Faker\:
        resource: '../../Faker/*'
        exclude:
            - '../../Faker/FakerInterface.php'
            - '../../Faker/ServiceFaker.php'

    Nowo\AnonymizeBundle\Service\:
        resource: '../../Service/*'

    # Console Commands
    # Only configure parameters, container is autowired via alias
    Nowo\AnonymizeBundle\Command\AnonymizeCommand:
        arguments:
            $locale: '%nowo_anonymize.locale%'
            $connections: '%nowo_anonymize.connections%'
            $dryRun: '%nowo_anonymize.dry_run%'
            $batchSize: '%nowo_anonymize.batch_size%'
        tags:
            - { name: 'console.command' }
