framework:
    secret: '%env(APP_SECRET)%'
    router:
        utf8: true
    form: null
    csrf_protection: true
    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
